<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">{{tabIndex === 0 ? 'Due today' : 'Over due'}} - Billing</span>
  <span class="toolbar-item-spacer"></span>
</mat-toolbar>
<div class="content">
  <div class="inner-content">
    <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)" [(selectedIndex)]="tabIndex">
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="tab-label" matBadge="{{total.dueToday > 99 ? '99+' : total.dueToday }}" *ngIf="total.dueToday > 0; else matLabelActive" matBadgeOverlap="false">Due today</span>
          <ng-template #matLabelActive>Due today</ng-template>
        </ng-template>
        <ng-template matTabContent>
          <mat-card [ngClass]="{ 'hidden': isLoading }">
            <mat-card-content fxLayout="column" >
              <app-data-table
              [isLoading]="isLoading"
              [dataSource]="dataSource['dueToday']"
              [columnDefs]="appConfig.config.tableColumns.billing"
              [total]="total['dueToday']"
              (pageChange)="pageChange($event, 'dueToday')"
              (sortChange)="sortChange($event, 'dueToday')"
              (filterChange)="filterChange($event, 'dueToday')"
              ></app-data-table>
            </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="tab-label" matBadge="{{total.overDue > 99 ? '99+' : total.overDue }}" *ngIf="total.overDue > 0; else matLabelClosed" matBadgeOverlap="false">Over due</span>
          <ng-template #matLabelClosed>Over due</ng-template>
        </ng-template>
        <ng-template matTabContent>
          <mat-card [ngClass]="{ 'hidden': isLoading }">
            <mat-card-content fxLayout="column" >
              <app-data-table
              [isLoading]="isLoading"
              [dataSource]="dataSource['overDue']"
              [columnDefs]="appConfig.config.tableColumns.billing"
              [total]="total['overDue']"
              (pageChange)="pageChange($event, 'overDue')"
              (sortChange)="sortChange($event, 'overDue')"
              (filterChange)="filterChange($event, 'overDue')"
              ></app-data-table>
            </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

