<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">Stall Classification</span>
  <span class="toolbar-item-spacer"></span>
</mat-toolbar>
<div class="component-floating-actions vertical-actions">
  <button mat-fab color="primary" aria-label="New stall classification" matTooltip="New stall classification" (click)="showAddDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="content">
<div class="inner-content">
  <mat-card [ngClass]="{ 'hidden': isLoading }">
      <mat-card-content fxLayout="column" >
        <app-data-table
        defaultThumbnail="../../../../assets/img/market.png"
        [isLoading]="isLoading"
        [dataSource]="dataSource"
        [columnDefs]="appConfig.config.tableColumns.stallClassification"
        [total]="total"
        (pageChange)="pageChange($event)"
        (sortChange)="sortChange($event)"
        (filterChange)="filterChange($event)"
        ></app-data-table>
      </mat-card-content>
  </mat-card>
  </div>
</div>

<ng-template #stallClassificationsFormDialog>
  <h4 mat-dialog-title>New stall classifications</h4>

<div mat-dialog-content>
  <app-stall-classifications-form #stallClassificationsForm></app-stall-classifications-form>
</div>

<div mat-dialog-actions>
  <div>
    <button
      mat-flat-button
      cdkFocusInitial
      (click)="closeNewStallClassificationsDialog()"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      [disabled]="!stallClassificationsForm.valid || !stallClassificationsForm.ready"
      color="primary"
      type="submit"
      (click)="saveNewStallClassifications(stallClassificationsForm.getFormData)"
    >
      Save
    </button>
  </div>
</div>

</ng-template>

