::ng-deep {
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tenant-rent-contract-status {
    box-shadow: none!important;
    cursor: default!important;
    &.active {
      background-color: #C8E6C9;
      color: #000!important;
    }
    &.closed {
      background-color: #E0E0E0;
      color: #000!important;
    }
    &.cancelled {
      background-color: #E0E0E0;
      color: #000!important;
    }
  }
  .inner-content-title {
    margin-left: 8px!important;
    margin-right: 8px!important;
  }
  .hidden {
    display: none!important;
  }

}
