::ng-deep .signin-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 400px;
    max-width: 100%;
    .mdc-card {
        flex-grow: 1!important;
        width: 100%!important;
        height: 100%!important;
        display: flex!important;
        box-sizing: border-box;
        .mat-mdc-card-content {
            display: flex!important;
            height: 100%!important;
            flex-direction: column;
            box-sizing: border-box;
            .form {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                box-sizing: border-box;
                width: 100%;
                .fieldset {
                    border: none;
                    width: 100%;
                    min-width: 0!important;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                }
            }
        }
    }
}