h1,h2,h3,h4,h5,span,p,label {
  margin: 0;
}

ion-header {
  ::ng-deep .profile-toolbar {
    padding: 10px;
    box-sizing: border-box;
    height: 64px;
    width: 64px;
    ion-avatar {
      width: 100%;
      height: 100%;
      img {
        object-position: center;
        object-fit: contain;
        box-shadow: 0 0 10px 0 rgb(122 122 122 / 46%);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }
  }
}
::ng-deep ion-footer {
  ion-toolbar {
    ::ng-deep .footer-controls {
      width: 100%;
      margin-right: 10px;
    }
    ::ng-deep .profile-toolbar {
      box-sizing: border-box;
      height: 48px;
      min-width: 48px;
      ion-avatar {
        width: 100%;
        height: 100%;
        img {
          object-position: center;
          object-fit: contain;
          box-shadow: 0 0 10px 0 rgb(122 122 122 / 46%);
          border-radius: 100%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%!important;
}

.item {
  &::part(native) {
    &.unread {
      background-color: rgba(0, 0, 0, 0.06)!important;
    }
  }
}

ion-label {
  text-overflow: unset;
  white-space: unset;
  overflow: unset;
  position: relative;
  h1,h2,h3,h4,h5,h6  {
    margin: 0 !important;
    display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.desc {
  opacity: 0.8!important;
  color: var(--ion-color-primary)!important;
  white-space: break-spaces!important;
  -webkit-line-clamp: 2;
  &.unread {
    opacity: 1!important;
  }
}

.sub-title {
  opacity: 0.6!important;
  white-space: break-spaces!important;
  -webkit-line-clamp: 3;
  &.unread {
    opacity: 0.8!important;
  }
}
.unread-symbol {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  display: flex;
  right: 10px;
  top: 50%;
  position: absolute;
  background: var(--ion-color-primary)!important;
}

.no-collections-result {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  row-gap: 5px!important;
  ion-icon {
    font-size: 3rem!important;
  }
}
