.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 100%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
::ng-deep .mdc-list-item__primary-text {
    display: flex;
    column-gap: 10px;
    span {
        line-height: 1.6!important;
    }
}

#banner {
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-right: 10px;
    @media only screen and (max-width: 540px)  { 
        display: none!important;
    }
}